In [3]:
# using scipy
from scipy import stats as st
from bioinfokit.analys import get_data
import pandas as pd

df= pd.read_csv("ttest.csv") 
df 

a = df['B'].to_numpy()
b = df['C'].to_numpy()
st.ttest_ind(a = a, b = b, equal_var = False)

         B       C
0    35116   38189
1    41973   48215
2    51219   64045
3    72524   94870
4   104771  135821
5   112900  143512
6   104889  141341
7   107849  136691
8   100873  127418
9    98289  123511
10   86573  102167
11   78875   87323
12   87775   96744
13   94416  103137
14  133257  164875
15  135768  174224
16  151630  195865
17  159536  202830
18  161902  203607
19  171306  214503
20  174795  218573
21  164303  198841
22  131655  152664
23  110468  123713